doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="referrer",content="never")
    meta(name="referrer",content="no-referrer-when-downgrade")
    meta(name="renderer",content="webkit|ie-comp|ie-stand")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge,chrome=1")
    link(rel="icon",href="./res/images/favicon.png",type="image/x-icon")
    link(rel="shortcut icon",href="./res/images/favicon.png",type="image/x-icon")
  block bodyWrapper